     /* *{
            margin: 0px;
            padding: 0px;
        } */
        /* .box{
            background-color: aqua;
        } */
        .box1{
            border: 2px solid blue;
            /* padding: 15px;
            margin: 15px; */
            display: inline-block;
            /* height: 150px; */
            /* box-sizing: border-box; */
        }
        .box2{
            border: 2px solid rgb(252, 252, 252);
            border-radius: 15px;
            /* background-color: red; */
            display: inline-block;
            color: yellow;
            font-family: Times, serif;
            font-size: 40px;
        }
        body{
            background-image: url('images/lake.jpg');
            background-size: cover;
            /* background-size: 100%; */
            /* background-position: 100%; */
            background-repeat: no-repeat;
        }